<h2>Ratings</h2>

Number of ratings: <%= @ratings.count %>


<h2> Best breweries </h2>

<%= render 'list', top_list: @top_breweries %>

<h2> Best beers </h2>

<%= render 'list', top_list: @top_beers %>

<h2> Best styles </h2>

<%= render 'list', top_list: @top_styles %>

<h2> Most active users </h2>
<ul>
 <% @top_raters.each do |user| %>
   <li> <%= link_to user.username, user %> <%= user.ratings.count %> </li>
 <% end %>
</ul>

<h2>Recent ratings</h2>
<ul>
 <% @ratings.recent.each do |rating| %>
   <li> <%= rating %>  <%= link_to rating.user.username, rating.user %> </li>
 <% end %>
</ul>


<!--- <%= link_to 'New rating', new_rating_path %> -->
