<% cache @brewery do %>
  <h2>
    <%= @brewery.name %>
    <% if not @brewery.active  %>
      <span class="label label-info">retired</span>
    <% end %>
  <h2>
  <p><i>
    Established at <%= @brewery.year %>
  </i></p>

  <p> Number of beers: <%= @brewery.beers.count %> </p> 

  <ul>
    <% @brewery.beers.each do |beer| %>
      <li> <%= link_to beer.name, beer %> </li>
    <% end %>
  </ul>

  <p>
    Brewery has <%= pluralize(@brewery.ratings.count, 'rating')%>.
    <% if !@brewery.ratings.empty? %>
      Average <%= round(@brewery.average_rating) %>
    <% end %>
  </p>

<% end %>

<%= link_to "change activity", toggle_activity_brewery_path(@brewery.id), method: :post, class: "btn btn-primary" %>

<%= link_to 'Edit', edit_brewery_path(@brewery) %> |
<%= link_to 'Back', breweries_path %>
