<p id="notice"><%= notice %></p>

<h2>
  <%= @brewery.name %>
  <% if not @brewery.active  %>
    <span class="label label-info">retired</span>
  <% end %>
<h2>
<p><i>
Established at <%= @brewery.year %>
</i></p>

<p> Number of beers: <%= @brewery.beers.count %> </p> 

<p>
 <% @brewery.beers.each do |beer| %>
   <%= link_to beer.name, beer %>
 <% end %>
</p>

<p>
  Brewery has <%= pluralize(@brewery.ratings.count, 'rating')%>.
  <% if !@brewery.ratings.empty? %>
    Average <%= @brewery.average_rating %>
  <% end %>
</p>


<%= link_to 'Edit', edit_brewery_path(@brewery) %> |
<%= link_to 'Back', breweries_path %>
